<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="StreamBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:30:00" sendTimeout="00:31:00" transferMode="Streamed"
          maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://sharp.kst.fri.uniza.sk/remote/Service1.svc"
        binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="RemoteWcfService.IDeviceControlService"
        name="MyNetTcpEndpoint" kind="" endpointConfiguration="">
        <identity>
          <dns value="sharp.kst.fri.uniza.sk" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://sharp.kst.fri.uniza.sk/remote/FileTransferService.svc"
        binding="netTcpBinding" bindingConfiguration="StreamBinding"
        contract="RemoteWcfService.IFileTransferService" name="FiletransferEndpoint" />
    
    
    </client>
  </system.serviceModel>
</configuration>