<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <standardEndpoints />
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="StreamBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:30:00" sendTimeout="00:31:00" transferMode="Streamed"
          maxBufferSize="655360000" maxReceivedMessageSize="655360000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="webStreamedBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:30:00" sendTimeout="00:31:00" maxBufferSize="655360000"
          maxReceivedMessageSize="655360000" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CertBehavior" name="RemoteWcfService.DeviceControlService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding0"
          contract="RemoteWcfService.IDeviceControlService" />
        <endpoint behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
          contract="RemoteWcfService.IWebApiService" />
      </service>
      <service name="RemoteWcfService.FileTransferService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="StreamBinding"
          contract="RemoteWcfService.IFileTransferService" />
        <endpoint behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
          bindingConfiguration="webStreamedBinding" contract="RemoteWcfService.IWebFileTransferService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CertBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="SHARP.kst.fri.uniza.sk" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="RemoteWcfService.CustomPasswordValidator, RemoteWcfService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="RemConDB"
         connectionString="data source=sharp.kst.fri.uniza.sk;initial catalog=bp_HyllDb;persist security info=True;user id=bp_Hyll;password=RemotE456NtgL;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings>
    <add key="token_key" value="MY54MCSTEA85EY10DOXYSYS587QSMKEY" />
  </appSettings>
</configuration>